import React from 'react';
import './{{componentName}}.scss'

const {{pascalCase componentName}} = (props) => {
    return ( 
        <div className="{{componentName}}">
            {{componentName}}
        </div>
    )
}

export default {{pascalCase componentName}};

