import React from 'react';
import './{{pageName}}.page.scss'

const {{pascalCase pageName}}Page = (props) => {
    return ( 
        <div className="{{pageName}}"> 
            {{pageName}} 
        </div>
    )
}

export default {{pascalCase pageName}}Page;

